

<style>
            .dinesh
            {
                background-color:rgb(10, 2, 2);
                height:120px;
                width: 100%;
               float: left;     }
               
               .bharat
               {background-color: rgb(152, 230, 18);
               height: 400px;
               width: 100%;
               float: left; }

               .alpesh
               {background-color: rgb(34, 34, 218);
                height: 10px;
                width: 64%;
                float: right;

               }


              




        </style>
